* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

:root {
  --primary-color: #006a50;
  --secondary-color: #c6e4d6;
  --title-color: #0e0e0e;
  --subtitle-color: rgba(14, 14, 14, 0.8);
  --paragraph-color: rgba(14, 14, 14, 0.7);
}

body {
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
}

/* ----- common css ----- */

.section__title {
  font-size: 35px;
  font-weight: bold;
  color: var(--title-color);
}

.sub__title {
  font-size: 20px;
  font-weight: bold;
  color: var(--subtitle-color);
}

.section__paragraph {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
}

.primary__btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
  outline: none;
  transition: .5s;
}

.primary__btn:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.outline__btn {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
}

.outline__btn:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
  outline: none;
  transition: .5s;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.section__gap {
  padding: 40px 0;
}

/* ----- header area css ----- */

.header__area {
  padding: 20px 0;
}

.header__area__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
}

.header__btn {
  padding: 15px 30px;
}

/* ----- banner area css ----- */

.banner__area {
  padding: 20px 0 40px 0;
}

.banner__area__content {
  background-color: var(--secondary-color);
  padding: 80px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.banner__description {
  width: 60%;
}

.banner__image {
  width: 40%;
}

.banner__description h3 {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500;
  margin-bottom: 15px;
}

.banner__description h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.banner__btn {
  padding: 15px 30px;
}

.banner__image img {
  width: 100%;
}

/* ----- piller area css ----- */

.piller__cards__display {
  margin-top: 25px;
  display: flex;
  column-gap: 10px;
}

.piller__card {
  padding: 24px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.piller__card img {
  margin-bottom: 20px;
}

.piller__card h4 {
  margin-bottom: 10px;
}

/* ----- vision area css ----- */

.vision__area__title h2 {
  margin-bottom: 20px;
}

.vision__card__display {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
}

.vision__card {
  padding: 30px;
  border-radius: 15px;
}

.vision__card:nth-child(1) {
  background: rgba(84, 144, 245, 0.2);
  
}

.vision__card:nth-child(1) button {
  background: rgba(84, 144, 245, 1) !important
  ;
  padding: 10px 20px;
  border: 1px solid rgba(84, 144, 245, 0.2) !important;
}

.vision__card:nth-child(1) button:hover {
  background-color: white !important;
  border: 1px solid rgba(84, 144, 245, 1) !important;
  color: rgba(84, 144, 245, 1) !important;
}

.vision__card:nth-child(2) {
  background: rgba(198, 228, 214, 1);
}

.vision__card:nth-child(2) button {
  background: rgba(9, 161, 92, 1) !important
  ;
  padding: 10px 20px;
  border: 1px solid rgba(9, 161, 92, 1) !important;
}

.vision__card:nth-child(2) button:hover {
  background: white !important;
  border: 1px solid rgba(9, 161, 92, 1) !important;
  color: #006a50 !important;
}

.vision__card:nth-child(3) {
  background: rgba(247, 235, 207, 1);
}

.vision__card:nth-child(3) button {
  background: rgba(255, 194, 57, 1) !important
  ;
  padding: 10px 20px;
  border: 1px solid rgba(255, 194, 57, 1) !important;
}

.vision__card:nth-child(3) button:hover {
  background-color: white !important;
  border: 1px solid rgba(255, 194, 57, 1) !important;
  color: rgba(255, 194, 57, 1) !important;
}

.vision__card img {
  margin-bottom: 20px;
}

.vision__card h4 {
  margin-bottom: 10px;
}

.vision__card p {
  margin-bottom: 20px;
}

/* ----- quoation area css ----- */

.quoatation__area {
  padding-bottom: 40px;
}

.qoatation__area__content {
  padding: 22px 22px 32px 22px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.main__quoat {
  background: url("./images/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 23px;
}

.qoatation__area__content p {
  margin-bottom: 10px;
}

.qoatation__area__content h4 {
  margin-bottom: 5px;
}

.qoatation__area__content .author__desig {
  color: rgba(14, 14, 14, 0.6) !important;
}

/* ----- opinion area css ----- */

.opinion__table {
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}

.opinion__table table {
  border-collapse: collapse;
  width: 100%;
}

.opinion__table table,
td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-weight: 500;
}

.opinion__table table thead tr {
  background-color: var(--secondary-color);
  text-align: left;
}

th {
  font-size: 18px;
}

th,
td {
  padding: 20px;
}

td select {
  background-color: var(--secondary-color);
  border: 1px solid rgba(14, 14, 14, 1);
  font-weight: 500;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

/* ----- news area css ----- */

.news__content h2 {
  margin-bottom: 20px;
}

.news__content > p {
  margin-bottom: 30px;
}

.news__card {
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.news__card:nth-child(even) {
  flex-direction: row-reverse;
}

.news__img {
  width: 40%;
}

.news__img img {
  border-radius: 20px;
}

.news__article {
  width: 60%;
}

.news__article__title h3 {
  font-size: 28px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 10px;
}

.news__article__img img {
  width: 20%;
  margin-bottom: 10px;
}

.news__article__date {
  display: flex;
  column-gap: 10px;
}

.news__article__date p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin-bottom: 20px;
}

.new__article__content p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin-bottom: 25px;
}

.news__article__btn button {
  padding: 10px 20px;
}

.donation__upper {
  text-align: center;
}

.donation__upper h2 {
  margin-bottom: 20px;
}

.donation__option {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  margin-top: 30px;
}

.donation {
  padding: 40px 30px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid rgba(14, 14, 14, 0.15);
  text-align: center;
  width: 25%;
  transition: .5s;
}

.donation:hover {
  background-color: var(--secondary-color);
}

.donation h1 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 35px;
  font-weight: bold;
}

.donation:nth-child(2) {
  background-color: var(--secondary-color);
}

.donation__form {
  margin-top: 30px;
  text-align: center;
}

.donation__form input {
  width: 90%;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.3);
}

.donation__form button {
  padding: 15px 30px;
  margin-top: 20px;
}

/* ----- newsletter area css ----- */

.newsletter__content {
  background: var(--secondary-color);
  padding: 60px 80px;
  border-radius: 20px;
  text-align: center;
}

.newsletter__content h3 {
  font-size: 30px;
  color: #0e0e0e;
  margin-bottom: 15px;
}

.newsletter__content p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.newsletter__form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.newsletter__form form {
  display: flex;
}

.newsletter__form input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  padding: 20px;
}

.newsletter__form button {
  padding: 15px 30px;
  border-radius: 0 10px 10px 0;
}

.footer {
  background: #fff;
}

.footer__content {
  text-align: center;
}

.footer__content h3 {
  font-size: 28px;
  color: var(--title-color);
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
  padding-bottom: 20px;
}

.footer__content hr {
  background-color: rgba(14, 14, 14, 0.1);
}

.footer__icon {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}