* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

:root {
  --primary-color: #006a50;
  --secondary-color: #c6e4d6;
  --title-color: #0e0e0e;
  --subtitle-color: rgba(14, 14, 14, 0.8);
  --paragraph-color: rgba(14, 14, 14, 0.7);
}

body {
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
}

/* ----- common css ----- */

.section__title {
  font-size: 35px;
  font-weight: bold;
  color: var(--title-color);
}

.sub__title {
  font-size: 20px;
  font-weight: bold;
  color: var(--subtitle-color);
}

.section__paragraph {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
}

.primary__btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
  border: none;
  outline: none;
}

.outline__btn {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.section__gap {
  padding: 40px 0;
}

/* ----- header area css ----- */

.header__area {
  padding: 20px 0;
}

.header__area__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
}

.header__btn {
  padding: 15px 30px;
}

/* ----- banner area css ----- */

.banner__area {
  padding: 20px 0 40px 0;
}

.banner__area__content {
  background-color: var(--secondary-color);
  padding: 80px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.banner__description {
  width: 60%;
}

.banner__image {
  width: 40%;
}

.banner__description h3 {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500;
  margin-bottom: 15px;
}

.banner__description h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.banner__btn {
  padding: 15px 30px;
}

.banner__image img {
  width: 100%;
}

/* ----- piller area css ----- */

.piller__cards__display {
  margin-top: 25px;
  display: flex;
  column-gap: 10px;
}

.piller__card {
  padding: 24px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.piller__card img {
  margin-bottom: 20px;
}

.piller__card h4 {
  margin-bottom: 10px;
}

.vision__area__title h2 {
  margin-bottom: 20px;
}

.vision__card__display {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
}

.vision__card {
  padding: 30px;
  border-radius: 15px;
}

.vision__card:nth-child(1) {
  background: rgba(84, 144, 245, 0.2);
}

.vision__card:nth-child(1) button {
  background: rgba(84, 144, 245, 1) !important
  ;
  padding: 10px 20px;
}

.vision__card:nth-child(2) {
  background: rgba(198, 228, 214, 1);
}

.vision__card:nth-child(2) button {
  background: rgba(9, 161, 92, 1) !important
  ;
  padding: 10px 20px;
}

.vision__card:nth-child(3) {
  background: rgba(247, 235, 207, 1);
}

.vision__card:nth-child(3) button {
  background: rgba(255, 194, 57, 1) !important
  ;
  padding: 10px 20px;
}

.vision__card img {
  margin-bottom: 20px;
}

.vision__card h4 {
  margin-bottom: 10px;
}

.vision__card p {
  margin-bottom: 20px;
}
