* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

:root {
  --primary-color: #006A50;
  --secondary-color: #C6E4D6;
  --title-color: #0E0E0E;
  --subtitle-color: rgba(14, 14, 14, 0.8);
  --paragraph-color: rgba(14, 14, 14, 0.7);
}

body {
  background-color: #F5F5F5;
}

img {
  max-width: 100%;
}

/* ----- common css ----- */

.section__title {
  font-size: 40px;
  font-weight: bold;
  color: var(--title-color);
}

.sub__title {
  font-size: 20px;
  font-weight: 20px;
  color: var(--subtitle-color);
}

.section__paragraph {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
}

.primary__btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
}

.outline__btn {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 8px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.section__gap {
  padding: 40px 0;
}

/* ----- header area css ----- */

.header__area {
  padding: 20px 0;
}

.header__area__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
}

.header__btn {
  padding: 15px 30px;
}

/* ----- banner area css ----- */

.banner__area {
  padding: 20px 40px;
}